<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="redirects:edit" type="NTTData.Redirector.Commands.EditRedirect,NTTData.Redirector" />
      <command name="redirects:delete" type="NTTData.Redirector.Commands.DeleteRedirect,NTTData.Redirector" />
    </commands>
    <settings>
      <!--<setting name="ItemNotFoundUrl" value="/" />
      <setting name="LinkItemNotFoundUrl" value="/" />-->
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" type="NTTData.Redirector.Pipelines.RedirectResolver, NTTData.Redirector"/>
      </httpRequestBegin>
      <preprocessRequest help="Processors should derive from Sitecore.Pipelines.PreprocessRequest.PreprocessRequestProcessor">
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <param desc="Allowed extensions (comma separated)" patch:replace="param[@desc='Allowed extensions (comma separated)']">aspx, ashx, asmx, php</param>
        </processor>
        </preprocessRequest>
    </pipelines>   
    <redirectManager defaultProvider="default">
      <providers>
        <clear/>
        <add name="default" type="NTTData.Redirector.Providers.RedirectProvider,NTTData.Redirector"/>
      </providers>
      <!--
      pattern - a regular expression pattern to match if no redirect is found in the database
      newUrl - url to redirect to. This url can use groups from the pattern regex ($1 $2 etc)
      statusCode - Http status code to send if the rulematches
      type (optional) - A type to handle custom redirect rules. This class should extend NotFoundRule
      method (optional) - the method to call on the custom redirect rule class. This method should take an argument of type
        Sitecore.Pipelines.HttpRequest.HttpRequestArgs
      
      
      <rule pattern="[regular expression]" newUrl ="[transformed url]" statusCode="[status code]" type="[custom type]" method="[processing method]" />
      -->
            
    </redirectManager>
  </sitecore>
</configuration>
